.App {
  color: white;
  font-family: BlinkMacSystemFont, Segoe UI, "Roboto", Oxygen, Ubuntu,
    "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #5746f0, #a3e0ce, #56568b);
}
.FormMargin{
  margin-top: 5%;
}
.main {
  height: 500px;
  overflow: hidden;
  justify-content: center;
  /* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover; */
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.outerWidth{
  width: 40vw;
}
.outerWidth2{
  width: 80vw;
}
.innerWidth{
  width: 100%;
}
#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 58px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
input {
  
  background: #e0dede;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #5746f0;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #6d44b8;
}

.login {
  height: 460px;
  background: rgb(100, 86, 224);
  border-radius: 60% / 10%;
  /* display: flex; */
  /* justify-content: center; */
  transform: translateY(-160px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: white;
  transform: scale(0.6);
}
#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

.home {
  text-decoration: none;
  color: darkcyan;
  padding: 3%;
}
