.App {
  font-family: BlinkMacSystemFont, Segoe UI, "Roboto", Oxygen, Ubuntu,
    "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /* background-color:  rgb(236, 227, 227); */
}

.FormMargin{
  margin-top: 5%;
}

.main {
  height: 500px;
  overflow: hidden;
  justify-content: center;
  /* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover; */
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.outerWidth{
  width: 40vw;
}
.outerWidth2{
  width: 80vw;
}
.innerWidth{
  width: 100%;
}
#chk {
  display: none;
}


label {
  color:rgba(255, 255, 255, 0.904);
  font-size: 2em;
  justify-content: center;
  display: flex;
  margin-top: 0%;
  /* margin-top: 5%; */
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

/* .input {
  
 
  justify-content: center;
  width: 100%;
  margin: 1.7%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  
} */



button {

  width: fit-content;
  height: 40px;
  /* padding: 10%; */
  /* margin: 10px auto; */
  color: #fff;
  background: black;
  font-size: 1em;
  font-weight: bold;
  /* margin-top: 10%; */
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background:  #9ca2f5;
  color:black
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 18, 45, 0.95);
}


.login {
  height: 100%;
  /* width: 100%; */
  /* position: relative; */
  background-color: rgba(27, 18, 45, 0.95);
  /* color: #000; */
  border-radius: 60% / 8%;
  display: block;
  justify-content: center;
  transform: translateY(-80px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: rgba(255, 255, 255, 0.904);
  transform: scale(0.6);
}
#chk:checked ~ .login {
  transform: translateY(-420px);
}
#chk:checked ~ .signup{
  background-color: rgba(27, 18, 45, 0.95);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}


/* Animation Code */


.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
  background: #9ca2f5;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

