.heightDisplay{
    height: 86vh;
   }
   .sizeIcon{
    width: 30px;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    height: auto;
}
.heightMIn{
    min-height: 100vh;
}
.floatRight{
    float: right;
}
.scroll{
    overflow: auto;
}
.marginTop{
    margin-top: 2.1%;
}
.borderR{
    border-radius: 20%;
}
.leftStyle{
    background-color: aquamarine;
    border-radius: 20px;
    width: fit-content;
    max-width: 200px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.rightStyle{
    background-color: beige;
    border-radius: 20px;
    width: fit-content;
    max-width: 200px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fitContent{
    width: fit-content;
    border-color: black;
    border-bottom: 2px solid;
}

.fixedPos1{
    position: fixed;
    bottom: 0.3%;
    width: 65%;
}

.fixedPos2{
    position: fixed;
    bottom: 0.3%;
    width: 95%;
}
